<h2>Kel Kdo : Trouve des idées de cadeaux grâce à tes amis !</h2>
<h3>Le site qui sauve tes fesses depuis 2015</h3>

<div class='row well'>
  <div class='pager'>
    <%= link_to "Ok, c'est parti !", '/users/auth/facebook', class: 'btn btn-primary'%>
  </div>
</div>
