<h2>Et tes amis, ils ont offerts quoi comme cadeaux, eux ?</h2>
<h3>Partage tes idées de cadeaux avec ton réseau, et arrête de looser à l'approche des fêtes !</h3>

<div class='row well'>
  <div class='col-lg-5'></div>
  <div class='col-lg-2'>
    <%= render "devise/shared/links" %>
  </div>
  <div class='col-lg-5'></div>
</div>
