<% if user_signed_in? %>
  <ul class='nav navbar-nav pull-right'>
  <li><%= link_to current_user.name, my_gifts_path  %></li>
  <li><%= link_to "déconnexion", destroy_user_session_path  %></li>
</ul>
<% end %>
